.vs/
BLL/bin/
BLL/obj/
BLL/Properties/
BLL/app.config
BLL/packages.config
DAL/bin/
DAL/Core/
DAL/obj/
DAL/Properties/
DAL/app.config
DAL/libmongocrypt.dylib
DAL/libmongocrypt.so
DAL/mongocrypt.dll
DAL/packages.config
DTO/bin/
DTO/obj/
DTO/Properties/
DTO/app.config
DTO/packages.config
packages/
SocialNetwork/bin/
SocialNetwork/obj/
SocialNetwork/Properties/
SocialNetwork/packages.config
